profiles {
    dev {
        params {
            devRun = true
            dataset_name = 'jackson'
            EXPERIMENT_NAME = 'test'
        }
    }

    prod {
        params {
            devRun = false
            dataset_name = 'jackson'
            EXPERIMENT_NAME = 'test'
        }
    }
}
